@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Group manager</h1>
<div class="align-content-center">
<a class="btn btn-primary btn-lg active" asp-action="Join">Войти в группу</a>
<a class="btn btn-primary btn-lg active" asp-action="Create">Создать группу</a>
</div>